.c1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
   
}
.button{
    padding: 30px;
    color: rgb(6, 56, 65);
    background-color: aquamarine;
    font-size: larger;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
}